<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swust.fund.dao.AspectMapper">
    <cache type="org.mybatis.caches.redis.RedisCache"/>
    <resultMap id="BaseResultMap" type="com.swust.fund.entity.Aspect">
        <id column="aspect_id" property="aspectId" jdbcType="INTEGER"/>
        <result column="aspect_name" property="aspectName" jdbcType="VARCHAR"/>
        <result column="aspect_show" property="aspectShow" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
    aspect_id, aspect_name, aspect_show
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_aspect
        where aspect_id = #{aspectId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_aspect
    where aspect_id = #{aspectId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.swust.fund.entity.Aspect">
    insert into t_aspect (aspect_id, aspect_name, aspect_show
      )
    values (#{aspectId,jdbcType=INTEGER}, #{aspectName,jdbcType=VARCHAR}, #{aspectShow,jdbcType=BIT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.swust.fund.entity.Aspect">
        insert into t_aspect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aspectId != null">
                aspect_id,
            </if>
            <if test="aspectName != null">
                aspect_name,
            </if>
            <if test="aspectShow != null">
                aspect_show,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aspectId != null">
                #{aspectId,jdbcType=INTEGER},
            </if>
            <if test="aspectName != null">
                #{aspectName,jdbcType=VARCHAR},
            </if>
            <if test="aspectShow != null">
                #{aspectShow,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.swust.fund.entity.Aspect">
        update t_aspect
        <set>
            <if test="aspectName != null">
                aspect_name = #{aspectName,jdbcType=VARCHAR},
            </if>
            <if test="aspectShow != null">
                aspect_show = #{aspectShow,jdbcType=BIT},
            </if>
        </set>
        where aspect_id = #{aspectId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.swust.fund.entity.Aspect">
    update t_aspect
    set aspect_name = #{aspectName,jdbcType=VARCHAR},
      aspect_show = #{aspectShow,jdbcType=BIT}
    where aspect_id = #{aspectId,jdbcType=INTEGER}
  </update>
    <select id="selectAllAspect" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_aspect
        <if test="showAll != true">
            where aspect_show=true
        </if>
    </select>
    <select id="selectScoreByUser" parameterType="int" resultType="map">
        SELECT
            a.aspect_id as aspect_id,
            a.aspect_name as aspect_name,
            a.aspect_show  as aspect_show,
            SUM(c.detail_score) as score
        FROM
            t_aspect a
        INNER JOIN t_aspect_detail b ON a.aspect_id=b.aspect_id
        inner JOIN t_user_aspect_detail c ON c.detail_id=b.detail_id
        where c.user_id=#{userId}
        GROUP BY a.aspect_id
    </select>
</mapper>