<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swust.fund.dao.QuestionMapper">
    <resultMap id="BaseResultMap" type="com.swust.fund.entity.Question">
        <id column="question_id" property="questionId" jdbcType="INTEGER"/>
        <result column="question_detail" property="questionDetail" jdbcType="VARCHAR"/>
        <result column="question_add_time" property="questionAddTime" jdbcType="TIMESTAMP"/>
        <result column="question_update_time" property="questionUpdateTime" jdbcType="TIMESTAMP"/>
        <result column="question_sort" property="questionSort" jdbcType="INTEGER"/>
        <collection property="questionAspects" column="question_id" javaType="List"
                    ofType="com.swust.fund.entity.QuestionAspect" select="getQuestionAspect"/>
    </resultMap>
    <resultMap id="questionAspectMap" type="com.swust.fund.entity.QuestionAspect">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="detail_id" property="aspectId" jdbcType="INTEGER"/>
        <result column="is_well" property="isWell" jdbcType="BIT"/>
        <result column="detail_name" property="aspectName" jdbcType="VARCHAR"/>
        <result column="question_id" property="questionId" javaType="INTEGER"/>
    </resultMap>
    <select id="getQuestionAspect" resultMap="questionAspectMap" parameterType="int">
        select
            a.id as id,
            a.is_well as is_well,
            a.detail_id as detail_id,
            t.detail_name as detail_name
            a.question_id as question_id
        from t_aspect_detial_question a
        inner join t_aspect_detail t on a.detail_id = t.detail_id
        where a.question_id=#{id}
    </select>
    <sql id="Base_Column_List">
    question_id, question_detail, question_add_time, question_update_time, question_sort
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_question
        where question_id = #{questionId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_question
    where question_id = #{questionId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.swust.fund.entity.Question">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="questionId">
            SELECT @@IDENTITY
        </selectKey>
        insert into t_question (question_id, question_detail, question_add_time,
        question_update_time, question_sort)
        values (#{questionId,jdbcType=INTEGER}, #{questionDetail,jdbcType=VARCHAR},
        #{questionAddTime,jdbcType=TIMESTAMP},
        #{questionUpdateTime,jdbcType=TIMESTAMP}, #{questionSort,jdbcType=INTEGER});
    </insert>
    <insert id="insertSelective" parameterType="com.swust.fund.entity.Question">
        insert into t_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionId != null">
                question_id,
            </if>
            <if test="questionDetail != null">
                question_detail,
            </if>
            <if test="questionAddTime != null">
                question_add_time,
            </if>
            <if test="questionUpdateTime != null">
                question_update_time,
            </if>
            <if test="questionSort != null">
                question_sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionId != null">
                #{questionId,jdbcType=INTEGER},
            </if>
            <if test="questionDetail != null">
                #{questionDetail,jdbcType=VARCHAR},
            </if>
            <if test="questionAddTime != null">
                #{questionAddTime,jdbcType=TIMESTAMP},
            </if>
            <if test="questionUpdateTime != null">
                #{questionUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="questionSort != null">
                #{questionSort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.swust.fund.entity.Question">
        update t_question
        <set>
            <if test="questionDetail != null">
                question_detail = #{questionDetail,jdbcType=VARCHAR},
            </if>
            <if test="questionAddTime != null">
                question_add_time = #{questionAddTime,jdbcType=TIMESTAMP},
            </if>
            <if test="questionUpdateTime != null">
                question_update_time = #{questionUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="questionSort != null">
                question_sort = #{questionSort,jdbcType=INTEGER},
            </if>
        </set>
        where question_id = #{questionId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.swust.fund.entity.Question">
    update t_question
    set question_detail = #{questionDetail,jdbcType=VARCHAR},
      question_add_time = #{questionAddTime,jdbcType=TIMESTAMP},
      question_update_time = #{questionUpdateTime,jdbcType=TIMESTAMP},
      question_sort = #{questionSort,jdbcType=INTEGER}
    where question_id = #{questionId,jdbcType=INTEGER}
  </update>
    <select id="getAllQuestion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_question
        order by question_sort asc
    </select>
    <insert id="insertQuestionAspect">
        insert into t_aspect_detial_question(question_id,detail_id,is_well) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{questionId},#{item.aspectId},#{item.isWell})
        </foreach>
    </insert>

    <delete id="deleteQuestionAspect">
    delete from t_aspect_detial_question
    where question_id = #{questionId,jdbcType=INTEGER} and detail_id=#{detailId}
    </delete>
    <update id="updateQuestionAspect">
        update t_aspect_detial_question
        set is_well=#{isWell}
        where question_id = #{questionId,jdbcType=INTEGER} and detail_id=#{detailId}
    </update>
    <select id="selectAllQuestionAspect" resultMap="questionAspectMap">
        select
        id,
        question_id,
        detail_id,
        is_well,
        question_id
        from t_aspect_detial_question
        order by question_id asc
    </select>
</mapper>